@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@font-face{
	font-family: 'Roboto Condensed';
	src: url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bid-font';
	src: url('../fonts/bid_font/Flaticon.svg') format('svg'),
	url('../fonts/bid_font/Flaticon.woff') format('woff');
}

.b-page {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}


/* Header */

.b-header {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 80px;
	background-color: #242424;
}

.b-header__logo {
	display: flex;
	height: 100%;
}

.b-logo {
	padding-top: 10px;
}

.b-logo__img {
	padding-top: 10px;
	height: 50px;
}

.b-title {
	padding: 0 15px;
}

.b-title__text {
	padding-top: 32px;
	color: #fff;
}

.b-header__menu {
	display: flex;
}

.b-primary-menu__list,
.b-auth-menu__list {
	display: flex;
}

.b-pmenu-item {
	list-style-type: none;
	margin: 32px 0 0 20px;
}

.b-amenu-item {
	list-style-type: none;
	margin: 32px 0 0 20px;
}

.b-menu-link {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}


/* Footer */

.b-footer {
	width: 100%;
	background-color: #242424;
	color: #fff;
}

.b-footer__wrapper {
	margin: 0 auto;
	width: 180px;
	height: 80px;
}

.b-footer__logo {
	margin-left: 23%;
}

.b-footer__text {
	width: 220px;
	padding-top: 5px;
}


/* Sidebar */

.b-content {
	display: flex;
	justify-content: space-between;
}

.b-content__sidebar {
	flex-basis: content;
	margin-top: 16px;
}

.b-categories {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.b-categories__item {
	list-style-type: none;
	padding: 15px 20px;
	border: 1px solid #e7e7e7;
}

.b-categories__link {
	font-weight: bold;
	padding-left:10px
}


.b-categories__alink::before {
	color: #fff;
	font-family: 'bid-font';
	font-size: 2.5em;
	text-decoration: none;
	margin-left: 5px;
}

.b-categories__alink {
	text-decoration: none;
}

.b-categories__concert::before,
.b-categories__theater::before,
.b-categories__disco::before,
.b-categories__movie::before,
.b-categories__seminar::before,
.b-categories__kids::before,
.b-categories__quest::before,
.b-categories__sports::before
{
	font-family: 'bid-font';
	font-size: 2.5em;
	padding-right: 5px;
}

.concert::before,
.theater::before,
.disco::before,
.movie::before,
.seminar::before,
.kids::before,
.quest::before,
.sports::before
{
	font-family: 'bid-font';
}

.b-categories__concert::before {
	content: '\f107';
	color: #2BA649;
}

.concert::before {
	content: '\f107';
}

.concert {
	background-color: #2BA649;
}

.b-categories__theater::before {
	content: '\f106';
	color: #E76049;
}

.theater::before {
	content: '\f106';
}

.theater {
	background-color: #E76049;
}

.b-categories__disco::before {
	content: '\f100';
	color: #2EB398;
}

.disco::before {
	content: '\f100';
}

.disco {
	background-color: #2EB398;
}

.b-categories__movie::before {
	content: '\f105';
	color: #393939;
}

.movie::before {
	content: '\f105';
}

.movie {
	background-color: #393939;
}

.b-categories__seminar::before {
	content: '\f104';
	color: #90119F;
}

.seminar::before {
	content: '\f104';
}

.seminar {
	background-color: #90119F;
}

.b-categories__kids::before {
	content: '\f103';
	color: #FFDA44;
}

.kids::before {
	content: '\f103';
}

.kids {
	background-color: #FFDA44;
}

.b-categories__quest::before {
	content: '\f102';
	color: #FD4424;
}

.quest::before {
	content: '\f102';
}

.quest {
	background-color: #FD4424;
}

.b-categories__sports::before {
	content: '\f101';
	color: #254FC6;
}

.sports::before {
	content: '\f101';
}

.sports {
	background-color: #254FC6;
}

ul {
	display: block;
	margin: 0;
	padding: 0;
}
ul:after {
	display: block;
	content: ' ';
	clear: both;
	float: none;
}
.menu > li {
	float: left;
	position: relative;
}
.menu > li > a {
	display: block;
}

.submenu {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.submenu > li {
	display: block;
}
.submenu > li > a {
	display: block;
	padding: 15px;
	width: 200px;
	height: 81px;
	color: #fff;
	text-decoration: none;
}

.menu > li:hover {
	transition: all 5s;
}

.menu > li:hover > ul.submenu {
	display: block;
	opacity: 0.95;
}


/* Content */

.b-main-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 2;
	margin-left: 40px;
}

.b-main-content__container {
	display: flex;
	margin-top: 17px;
}

.b-main-content__cat-empty {
	margin: 0 30%;
	margin-top: 25%;
}

.b-main-content__article {
	width: 30%;
	margin: 17px;
	padding-bottom: 15px;
	border-bottom: 3px solid #2eb398
}

.b-article-pic__image {
	width: 100%;
}

.b-article-wrap {
	width: 90%;
	margin: 0 5%;
	text-align: justify;
}

.b-article-meta__info {
	display: flex;
	justify-content: space-between;
}

.b-meta-text {
	color: #a9a9a9;
	padding-top: 10px;
	font-weight: bold
}

.b-about-header {
	padding: 10px 0;
	margin: 0;
}

.b-article-buttons {
	display: flex;
	justify-content: flex-end;
}

.b-article-about__buy,
.b-article-about__bid {
	padding-left: 10px;
}

.bid-ticket {
	color: #fff;
}

.list-group-item__order-badge {
	background-color: #5cb85c;
}

.b-progress-bar {
	margin: 5px 0 0px 0;
}


/* Tabs */

.b-tab {
	padding: 10px;
}

.form-group {
	width: 100%;
}

.tabbable-panel {
	border:1px solid #eee;
	padding: 10px;
}

.tabbable-line > .nav-tabs {
	border: none;
	margin: 0px;
}

.tabbable-line > .nav-tabs > li {
	margin-right: 2px;
}

.tabbable-line > .nav-tabs > li > a {
	border: 0;
	margin-right: 0;
	color: #737373;
}

.tabbable-line > .nav-tabs > li > a > i {
	color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
	border-bottom: 4px solid #fbcdcf;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
	background: none !important;
	color: #333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}

.tabbable-line > .nav-tabs > li.active {
	border-bottom: 4px solid #f3565d;
	position: relative;
}

.tabbable-line > .nav-tabs > li.active > a {
	border: 0;
	color: #333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
	color: #404040;
}

.tabbable-line > .tab-content {
	margin-top: -3px;
	background-color: #fff;
	border: 0;
	border-top: 1px solid #eee;
	padding: 15px 0;
}

.portlet .tabbable-line > .tab-content {
	padding-bottom: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li {
	border-top: 4px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
	margin-top: 0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
	border-bottom: 0;
	border-top: 4px solid #fbcdcf;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
	margin-bottom: -2px;
	border-bottom: 0;
	border-top: 4px solid #f3565d;
}

.tabbable-line.tabs-below > .tab-content {
	margin-top: -10px;
	border-top: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}


/* Profile */

.payments-history-row {
	margin-top: 5px;
}


/* Auth */

.remember-me-checkbox {
	margin-left: 1.9%;
}


/* Support */

.b-support-info {
	padding-top: 15px;
	border-top: 1px solid #eee;
}


/* About */

.b-content-justify {
	text-align: justify;
}

.b-bid {
	font-size: 20px;
	font-weight: bold;
	color: #ed0000;
}

.b-ml20 {
	margin-left: 20px;
}

.b-ml20__op08 {
	opacity: 0.8;
}

.b-main-content__bullets {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.b-content-bullet {
	display: flex;
	margin-bottom: 15px;
}

.b-content-bullet__img64 {
	width: 64px;
	height: 64px;
}

.b-content-article {
	margin-left: 15px;
}

.b-content-article__title {
	font-weight: bold;
}

.b-content-article__paragraph {
	text-align: justify;
	margin-right: 30px;
}


/* Cart */

.cart-title {
	padding: 0;
	margin-bottom: 0;
}

.del-item {
	cursor: pointer;
}

.row-order-prepare {
	width: 90%;
}